﻿<!DOCTYPE html>
<html>
<head>
    <base href='/SRBIWebApp/'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="/SRBIWebApp/node_modules/core-js/client/shim.min.js"></script>
    <script src="/SRBIWebApp/node_modules/zone.js/dist/zone.js"></script>
    <script src="/SRBIWebApp/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/SRBIWebApp/systemjs.config.js"></script>
    <link href="/SRBIWebApp/node_modules/%40angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link data-require="font-awesome@4.6.1" data-semver="4.6.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <script>
        System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
