﻿<div class='panel panel-primary'>
    <div class='panel-heading'>
        Ticket Report 2
    </div>
    <div class='panel-body'>

        <form novalidate (ngSubmit)="onSubmit(ticketFrm)" [formGroup]="ticketFrm">
            <div class="line_ctrl">
                <md-input-container>
                    <input mdInput placeholder="ticketYear" [mdAutocomplete]="auto" formControlName="ticketYear">
                </md-input-container>
                <md-autocomplete #auto="mdAutocomplete">
                    <md-option *ngFor="let year of filteredYear | async" [value]="ticketYear">
                        {{ ticketYear }}
                    </md-option>
                </md-autocomplete>
                <div *ngIf="formErrors.ticketYear" class="text-danger">
                    {{ formErrors.ticketYear }}
                </div>
            </div>
            <md-dialog-actions class="md-dialog-footer" align="end">
                <button color="warn" type="button" md-raised-button (click)="dialogRef.close()">Cancel</button>&nbsp;
                <button type="submit" color="primary" [disabled]="userFrm.invalid" md-raised-button>{{modalBtnTitle}}</button>
           </ md-dialog-actions>
       </form>

            <data-grid [columns]="columns"
                       [data]="tickets"
                       [gridbtns]="gridbtns"
                       [hdrbtns]="hdrbtns"
                       [sort]="sorting"
                       [isshowfilter]=false
                       [isExporttoCSV]=true
                       [exportFileName]="exportFileName"
                       [filter]=userfilter
                       (btnclick)="gridaction($event)">
            </data-grid>

            <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
            </div>
</div>
</div>
