﻿<div class='panel panel-primary'>
    <div class='panel-heading'>
        Ticket Report
    </div>
    <div class='panel-body'>
        <form (ngSubmit)="onSubmit(ticketForm.value)" #ticketForm="ngForm">
                <div class="form-group">
                    <label for="power">Ticket Year</label>
                    <select class="form-control" id="ticketYear" required [(ngModel)]="ticketYear" name="ticketYear">
                        <option *ngFor="let year of ticketYears" [value]="year">{{year}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="power">Ticket Month</label>
                    <select class="form-control" id="ticketMonth" required [(ngModel)]="ticketMonth" name="ticketMonth">
                        <option *ngFor="let month of ticketMonths" [value]="month">{{month}}</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success">Go</button>

            </form>

            <data-grid [columns]="columnsTickets"
                       [data]="tickets"
                       [gridbtns]="gridbtns"
                       [hdrbtns]="hdrbtns"
                       [sort]="sorting"
                       [isshowfilter]=false
                       [isExporttoCSV]=true
                       [exportFileName]="exportFileName"
                       [filter]=userfilter
                       (btnclick)="gridaction($event)
                       ">
            </data-grid>
        
        <div ng-hide="Blank line"></div>

        <data-grid [columns]="columnsTicketSummary"
                   [data]="ticketsummaryList"
                   [gridbtns]="gridbtns"
                   [hdrbtns]="hdrbtns"
                   [sort]="sorting"
                   [isshowfilter]=false
                   [isExporttoCSV]=true
                   [exportFileName]="exportFileName"
                   [filter]=userfilter
                   (btnclick)="gridaction($event)
                       ">
        </data-grid>

            <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
            </div>
</div>
</div>
