﻿<div class='panel panel-primary'>
    <div class='panel-heading'>
        Ticket Reporting
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='tickets && tickets.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='tickets && tickets.length'>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Accounts Finance</th>
                        <th>Human Resources</th>
                        <th>IT System</th>
                        <th>Operations</th>
                        <th>Supply Chain</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of tickets">
                        <td>{{ticket.Date}}</td>
                        <td>{{ticket.Accounts_Finance}}</td>
                        <td>{{ticket.HumanResources}}</td>
                        <td>{{ticket.IT_System}}</td>
                        <td>{{ticket.Operations}}</td>
                        <td>{{ticket.Supply_Chain}}</td>
                        <td>{{ticket.Total}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>
